<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
  <a class="navbar-brand" href="/api/ar">AR App API</a>
  <ul class="navbar-nav ml-auto">  <li class="nav-item">
      <a class="nav-link" href="/api/ar">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/api/ar/uploads">Uploads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/api/ar/files">Files</a>
    </li>
  </ul>
</nav>